/* CSS */

:root {
  --time: 0s;
  --pos: 0vmin;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-coloum {
    display: flex;
    flex-direction: column;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .frame {
    width: 100%;
    height: 100%;
  }

  .flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50vmin;
  }

  .time-circle {
    display: flex;
    width: calc(50vmin + 2em);
    height: calc(50vmin + 2em);
    left: 10em;
    border-radius: 50vmin;
    background-color: red;
  }

  circle {
    fill: yellowgreen;
    stroke: #655;
    stroke-width: 1.318vmin;
    /* Pi - 2nd parm: Is like seconds of a clock where 60 is max  */
    stroke-dasharray: calc(3.1415926536 * var(--pos)) calc(6.2831853072 * 30vmin);
    transition: var(--time) linear;
    -webkit-transition: var(--time) linear;
  }

  svg {
    width: 100vmin;
    height: 100vmin;
    transform: rotate(-90deg);
    z-index: -1;
    position: absolute;
  }

  .content {
    width: 58.6vmin;
    height: 58.6vmin;
    background-color: #FF3010;
    border-radius: 50%;
  }
  
  .label {
    font-size: 3vmin;
  }
